<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
<!-- ポイント：th:fragment -->
<div th:fragment="home_contents">
    <div class="page-header">
        <h1>ホーム</h1>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default" style="line-height: 2em">
                <div class="panel-heading"><i class="fa fa-linux "></i>&nbsp; 使用上のご注意</div>
                <div class="panel-body">
                    使用しているときにエラーが出ることがあります。<br/>そのときはエラー画面の指示に従って、一旦ログアウトしたあと再び
                    ログインしてください。
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default" style="line-height: 2em">
                <div class="panel-heading" th:text="${birthdayStr}"><i class="fa fa-birthday-cake "></i></div>
                <div class="panel-body" style="font-size: large">
                    <div th:each="birthday : ${birthdayList}" style="margin-bottom: 5px">
                        <span style="float: left" th:text="${birthday.grade}"></span>
                        <span style="float: left; margin-left: 40px" th:text="${birthday.studentName}"></span>
                        <span style="display: block; margin-left: 230px" th:text="${#dates.format(birthday.birthday, 'M月d日')}"></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>