<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ホーム|聡明舎生徒管理システム</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/datepicker3.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/student.css}" rel="stylesheet">
    <link th:href="@{/css/numberList.css}" rel="stylesheet">
    <link th:href="@{/css/checkboxRadiobox.css}" rel="stylesheet">
    <link th:href="@{/css/table_border.css}" rel="stylesheet">
    <link th:href="@{/webjars/select2/4.0.10/css/select2.min.css}" rel="stylesheet">

    <!--Font-awesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
    <script src="/js/respond.min.js" th:src="@{/js/html5shiv.min.js}"></script>
    <![endif]-->
    <script src="/js/allcheck.js" th:src="@{/js/allcheck.js}"></script>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/select2/4.0.10/js/select2.min.js}"></script>
</head>
<body>
<!-- ===== ヘッダー（ナビゲーションバー） =====  -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand" th:href="@{'/home'}">聡明舎 生徒管理システム</a>
            <form method="post" th:action="@{/logout}">
                <button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト</button>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<!-- ===== サイドバー =====  -->
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name" th:text="${#authentication.name} + ' さん'"></div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li role="presentation"><a th:href="@{'/home'}"><i class="fa fa-home"></i>&nbsp; HOME</a></li>
        <li role="presentation"><a th:href="@{'/studentList'}"><i class="fa fa-list-alt"></i>&nbsp; 生徒一覧</a></li>
        <li role="presentation"><a th:href="@{'/signup'}"><i class="fa fa-edit"></i>&nbsp; 新規登録</a></li>
        <li role="presentation"><a th:href="@{'/registry'}"><i class="fa fa-server "></i> &nbsp; 各種登録</a></li>
        <li role="presentation"><a th:href="@{'/classManagement'}"><i class="fa fa-users"></i>&nbsp; クラス管理</a></li>
        <li role="presentation"><a th:href="@{'/zenken'}"><i class="fa fa-file-text-o"></i>&nbsp; 全県模試一括</a></li>
        <li role="presentation"><a th:href="@{'/downloads'}"><i class="fa fa-download"></i>&nbsp; ダウンロード</a></li>
        <li role="presentation" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{'/admin'}"><i class="fa fa-user"></i>&nbsp; ユーザー管理</a>
        </li>
    </ul>
</div><!--/.sidebar-->
<!-- ===== コンテンツ ===== -->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-sm-12 content">
            <div th:include="__${contents}__"></div>
        </div>
        <div class="col-sm-12">
            <p class="back-link footer">© 2019 <a href="https://so-mei.info">So-mei</a> inc.</p>
        </div>
    </div><!--/.row-->
</div>	<!--/.main-->

<script src="/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/chart.min.js" th:src="@{/js/chart.min.js}"></script>
<script src="/js/chart-data.js" th:src="@{/js/chart-data.js}"></script>
<script src="/js/easypiechart.js" th:src="@{/js/easypiechart.js}"></script>
<script src="/js/easypiechart-data.js" th:src="@{/js/easypiechart-data.js}"></script>
<script src="/js/bootstrap-datepicker.js" th:src="@{/js/bootstrap-datepicker.js}"></script>
<script src="/js/custom.js" th:src="@{/js/custom.js}"></script>
<script>
    window.onload = function () {
        var chart1 = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(chart1).Line(lineChartData, {
            responsive: true,
            scaleLineColor: "rgba(0,0,0,.2)",
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleFontColor: "#c5c7cc"
        });
    };
</script>
<script>
    $(document).on('click', '#button', function () {
        $("#upload").click();
    })

    $(document).on('change', '#upload', function () {
        $('#upload_file').val($(this).val().replace(/^.*\\/, ""));
    })
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/js/highschoolList.js" th:src="@{/js/highschoolList.js}"></script>
<script src="/js/showHighschool.js" th:src="@{/js/showHighschool.js}"></script>

</body>
</html>