<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
<!-- ポイント：th:fragment -->
<div th:fragment="home_contents">
    <div class="page-header">
        <h1>ホーム</h1>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default" style="line-height: 2em">
                <div class="panel-heading"><i class="fa fa-linux "></i>&nbsp; 使用上のご注意</div>
                <div class="panel-body">
                    使用しているときにエラーが出ることがあります。<br/>そのときはエラー画面の指示に従って、一旦ログアウトしたあと再び
                    ログインしてください。
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>