<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Bootstrapに必要なCSSとJavaScriptを読み込み-->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.slim.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
</head>
<body>
<!-- コンテンツ部分 -->
<div th:fragment="registryByOneStudent_contents">
    <div class="page-header" style="margin-bottom: 15px">
        <h1>各種登録</h1>
        <p style="margin-left: 3px">このページで成績、試験結果などを登録できます</p>
    </div>
    <div class="row col-sm-10">
        <div class="btn-group btn-group-justified" role="group">
            <a type="button" class="btn btn-primary" th:href="@{'/registry/schoolRecord'}"
               style="border-color: white">成績
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/regularExam'}"
               style="border-color: white">定期試験
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/practiceExam'}"
               style="border-color: white">模擬試験
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/byOneStudent'}"
               style="border-color: white">個人登録
            </a>
        </div>
    </div>
    <div class="row col-sm-12">
        <form method="post" th:action="@{/registry/byOneStudent/grade}">
            <div class="form-group" style="display: block">
                <label for="grade" class="control-label col-xs-2"
                       style="margin: 7px 0 0 20px">登録する生徒の学年：</label>
                <div class="col-sm-2 col-xs-4">
                    <select class="form-control" id="grade" name="grade" onchange="this.form.submit()">
                        <option value="">学年</option>
                        <option value="中３" th:selected="${grade} == '中３'">中３</option>
                        <option value="中２" th:selected="${grade} == '中２'">中２</option>
                        <option value="中１" th:selected="${grade} == '中１'">中１</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="row col-sm-12 text-info" th:if="${result}" th:text="${result}"
         style="font-weight: bold; margin-left: 18px"></div>
    <div th:if="${gradeList}" class="panel panel-container col-sm-10" style="margin-top: 15px">
        <div class="col-sm-10">
            <table class="table table-bordered table-condensed table-hover table-striped" style="margin-top: 15px">
                <tr>
                    <th class="info col-sm-2">名前</th>
                    <th class="info col-sm-2">校舎</th>
                    <th class="info col-sm-2">クラス</th>
                    <th class="info col-sm-2"></th>
                </tr>
                <tr th:each="student : ${gradeList}">
                    <td th:text="${student.studentName}"></td>
                    <td th:text="${student.school}"></td>
                    <td th:text="${student.homeRoom}"></td>
                    <td>
                        <a class="btn btn-primary"
                           th:href="@{'/registry/byOneStudent/' + ${student.studentId}}">登録</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:if="${studentEdit}" class="panel panel-container col-sm-12" style="margin-top: 15px">
        <div class="row col-sm-12">
            <ul class="cp_list">
                <li>成績・定期試験・模擬試験データの登録</li>
            </ul>
            <div class="col-sm-12">
                <div class="row col-sm-10" style="margin-top: 5px">
                    <div>どのデータを登録しますか？</div>
                    <form method="post" th:action="@{/registry/byOneStudent/kind}" style="margin-top: 5px">
                        <label class="radio-inline radio_text" style="margin: 5px 0 0 7px">
                            <input type="radio" name="radioName" value="schoolRecord" th:checked="${schoolRecord}"
                                   onchange="this.form.submit()"> 成績(内申)
                        </label>
                        <label class="radio-inline radio_text" style="margin: 5px 0 0 20px">
                            <input type="radio" name="radioName" value="regularExam" th:checked="${regularExam}"
                                   onchange="this.form.submit()"> 定期試験
                        </label>
                        <label class="radio-inline radio_text" style="margin: 5px 0 0 20px">
                            <input type="radio" name="radioName" value="practiceExam" th:checked="${practiceExam}"
                                   onchange="this.form.submit()"> 模擬試験
                        </label>
                    </form>
                </div>
            </div>
            <div th:if="${schoolRecord}" class="col-sm-12">
                <form method="post" th:action="@{/schoolRecordRegistry}" th:object="${schoolRecord}">
                    <!-- ３学期制の場合 -->
                    <div th:if="${thirdTerm}" class="row col-sm-10" style="margin-top: 20px">
                        <p style="font-size: medium">＜成績(内申)登録＞</p>
                        <div>
                            <p style="font-size: small">＜中学１年＞</p>
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <tr>
                                    <th class="info">年度</th>
                                    <th class="info">学期</th>
                                    <th class="info">英語</th>
                                    <th class="info">数学</th>
                                    <th class="info">国語</th>
                                    <th class="info">理科</th>
                                    <th class="info">社会</th>
                                    <th class="info">音楽</th>
                                    <th class="info">美術</th>
                                    <th class="info">保体</th>
                                    <th class="info">技家</th>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中１">
                                    <input type="hidden" name="recordYear" th:value="${year1}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year1}"></td>
                                    <td width="7%">1<input type="hidden" name="termName" value="１学期"></td>
                                    <td><input class="form-control" type="text" name="english"
                                               th:value="${schoolRecord0.english}"/>
                                    </td>
                                    <td><input class="form-control" type="text" name="math"
                                               th:value="${schoolRecord0.math}"></td>
                                    <td><input class="form-control" type="text" name="japanese"
                                               th:value="${schoolRecord0.japanese}">
                                    </td>
                                    <td><input class="form-control" type="text" name="science"
                                               th:value="${schoolRecord0.science}">
                                    </td>
                                    <td><input class="form-control" type="text" name="socialStudies"
                                               th:value="${schoolRecord0.socialStudies}"></td>
                                    <td><input class="form-control" type="text" name="music"
                                               th:value="${schoolRecord0.music}"></td>
                                    <td><input class="form-control" type="text" name="art"
                                               th:value="${schoolRecord0.art}"></td>
                                    <td><input class="form-control" type="text" name="pe"
                                               th:value="${schoolRecord0.pe}"></td>
                                    <td><input class="form-control" type="text" name="techHome"
                                               th:value="${schoolRecord0.techHome}">
                                    </td>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中１">
                                    <input type="hidden" name="recordYear" th:value="${year1}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year1}"></td>
                                    <td width="7%">2<input type="hidden" name="termName" value="２学期"></td>
                                    <td><input class="form-control" type="text" name="english"
                                               th:value="${schoolRecord1.english}"/>
                                    </td>
                                    <td><input class="form-control" type="text" name="math"
                                               th:value="${schoolRecord1.math}"></td>
                                    <td><input class="form-control" type="text" name="japanese"
                                               th:value="${schoolRecord1.japanese}">
                                    </td>
                                    <td><input class="form-control" type="text" name="science"
                                               th:value="${schoolRecord1.science}">
                                    </td>
                                    <td><input class="form-control" type="text" name="socialStudies"
                                               th:value="${schoolRecord1.socialStudies}"></td>
                                    <td><input class="form-control" type="text" name="music"
                                               th:value="${schoolRecord1.music}"></td>
                                    <td><input class="form-control" type="text" name="art"
                                               th:value="${schoolRecord1.art}"></td>
                                    <td><input class="form-control" type="text" name="pe"
                                               th:value="${schoolRecord1.pe}"></td>
                                    <td><input class="form-control" type="text" name="techHome"
                                               th:value="${schoolRecord1.techHome}">
                                    </td>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中１">
                                    <input type="hidden" name="recordYear" th:value="${year1}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year1}"></td>
                                    <td width="7%">3<input type="hidden" name="termName" value="３学期"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.english}"
                                               name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.math}"
                                               name="math"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.japanese}"
                                               name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.science}"
                                               name="science">
                                    </td>
                                    <td><input class="form-control" type="text"
                                               th:value="${schoolRecord2.socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.music}"
                                               name="music"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.art}"
                                               name="art"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.pe}"
                                               name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord2.techHome}"
                                               name="techHome">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div th:if="${studentGrade == '中３' || studentGrade == '中２'}">
                            <p style="font-size: small">＜中学２年＞</p>
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <tr>
                                    <th class="info">年度</th>
                                    <th class="info">学期</th>
                                    <th class="info">英語</th>
                                    <th class="info">数学</th>
                                    <th class="info">国語</th>
                                    <th class="info">理科</th>
                                    <th class="info">社会</th>
                                    <th class="info">音楽</th>
                                    <th class="info">美術</th>
                                    <th class="info">保体</th>
                                    <th class="info">技家</th>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中２">
                                    <input type="hidden" name="recordYear" th:value="${year2}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year2}"></td>
                                    <td width="7%">1<input type="hidden" name="termName" value="１学期"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.english}"
                                               name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.math}"
                                               name="math"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.japanese}"
                                               name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.science}"
                                               name="science">
                                    </td>
                                    <td><input class="form-control" type="text"
                                               th:value="${schoolRecord3.socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.music}"
                                               name="music"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.art}"
                                               name="art"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.pe}"
                                               name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord3.techHome}"
                                               name="techHome">
                                    </td>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中２">
                                    <input type="hidden" name="recordYear" th:value="${year2}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year2}"></td>
                                    <td width="7%">2<input type="hidden" name="termName" value="２学期"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.english}"
                                               name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.math}"
                                               name="math"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.japanese}"
                                               name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.science}"
                                               name="science">
                                    </td>
                                    <td><input class="form-control" type="text"
                                               th:value="${schoolRecord4.socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.music}"
                                               name="music"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.art}"
                                               name="art"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.pe}"
                                               name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord4.techHome}"
                                               name="techHome">
                                    </td>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中２">
                                    <input type="hidden" name="recordYear" th:value="${year2}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year2}"></td>
                                    <td width="7%">3<input type="hidden" name="termName" value="３学期"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.english}"
                                               name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.math}"
                                               name="math"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.japanese}"
                                               name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.science}"
                                               name="science">
                                    </td>
                                    <td><input class="form-control" type="text"
                                               th:value="${schoolRecord5.socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.music}"
                                               name="music"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.art}"
                                               name="art"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.pe}"
                                               name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord5.techHome}"
                                               name="techHome">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div th:if="${studentGrade == '中３'}">
                            <p style="font-size: small">＜中学３年＞</p>
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <tr>
                                    <th class="info">年度</th>
                                    <th class="info">学期</th>
                                    <th class="info">英語</th>
                                    <th class="info">数学</th>
                                    <th class="info">国語</th>
                                    <th class="info">理科</th>
                                    <th class="info">社会</th>
                                    <th class="info">音楽</th>
                                    <th class="info">美術</th>
                                    <th class="info">保体</th>
                                    <th class="info">技家</th>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中３">
                                    <input type="hidden" name="recordYear" th:value="${year3}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year3}"></td>
                                    <td width="7%">1<input type="hidden" name="termName" value="１学期"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.english}"
                                               name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.math}"
                                               name="math"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.japanese}"
                                               name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.science}"
                                               name="science">
                                    </td>
                                    <td><input class="form-control" type="text"
                                               th:value="${schoolRecord6.socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.music}"
                                               name="music"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.art}"
                                               name="art"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.pe}"
                                               name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord6.techHome}"
                                               name="techHome">
                                    </td>
                                </tr>
                                <tr>
                                    <input type="hidden" name="grade" value="中３">
                                    <input type="hidden" name="recordYear" th:value="${year3}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year3}"></td>
                                    <td width="7%">2<input type="hidden" name="termName" value="２学期"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.english}"
                                               name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.math}"
                                               name="math"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.japanese}"
                                               name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.science}"
                                               name="science">
                                    </td>
                                    <td><input class="form-control" type="text"
                                               th:value="${schoolRecord7.socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.music}"
                                               name="music"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.art}"
                                               name="art"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.pe}"
                                               name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="${schoolRecord7.techHome}"
                                               name="techHome">
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <button class="btn btn-primary btn-lg" type="submit">登録</button>
                        </div>
                    </div>
                    <!-- ２学期制の場合 -->
                    <div th:if="${secondTerm}" class="row col-sm-10" style="margin-top: 20px">
                        <p style="font-size: medium">＜成績(内申)登録＞</p>
                        <div>
                            <p style="font-size: small">＜中学１年＞</p>
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <tr>
                                    <th class="info">年度</th>
                                    <th class="info">学期</th>
                                    <th class="info">英語</th>
                                    <th class="info">数学</th>
                                    <th class="info">国語</th>
                                    <th class="info">理科</th>
                                    <th class="info">社会</th>
                                    <th class="info">音楽</th>
                                    <th class="info">美術</th>
                                    <th class="info">保体</th>
                                    <th class="info">技家</th>
                                </tr>
                                <tr th:object="${schoolRecord0}">
                                    <input type="hidden" name="grade" value="中１">
                                    <input type="hidden" name="recordYear" th:value="${year1}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year1}"></td>
                                    <td width="7%">前期<input type="hidden" name="termName" value="前期"></td>
                                    <td><input class="form-control" type="text" th:value="*{english}" name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{math}" name="math"></td>
                                    <td><input class="form-control" type="text" th:value="*{japanese}" name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{science}" name="science">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="*{music}" name="music"></td>
                                    <td><input class="form-control" type="text" th:value="*{art}" name="art"></td>
                                    <td><input class="form-control" type="text" th:value="*{pe}" name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="*{techHome}" name="techHome">
                                    </td>
                                </tr>
                                <tr th:object="${schoolRecord1}">
                                    <input type="hidden" name="grade" value="中１">
                                    <input type="hidden" name="recordYear" th:value="${year1}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year1}"></td>
                                    <td width="7%">後期<input type="hidden" name="termName" value="後期"></td>
                                    <td><input class="form-control" type="text" th:value="*{english}" name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{math}" name="math"></td>
                                    <td><input class="form-control" type="text" th:value="*{japanese}" name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{science}" name="science">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="*{music}" name="music"></td>
                                    <td><input class="form-control" type="text" th:value="*{art}" name="art"></td>
                                    <td><input class="form-control" type="text" th:value="*{pe}" name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="*{techHome}" name="techHome">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div th:if="${studentGrade == '中３' || studentGrade == '中２'}">
                            <p style="font-size: small">＜中学２年＞</p>
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <tr>
                                    <th class="info">年度</th>
                                    <th class="info">学期</th>
                                    <th class="info">英語</th>
                                    <th class="info">数学</th>
                                    <th class="info">国語</th>
                                    <th class="info">理科</th>
                                    <th class="info">社会</th>
                                    <th class="info">音楽</th>
                                    <th class="info">美術</th>
                                    <th class="info">保体</th>
                                    <th class="info">技家</th>
                                </tr>
                                <tr th:object="${schoolRecord2}">
                                    <input type="hidden" name="grade" value="中２">
                                    <input type="hidden" name="recordYear" th:value="${year2}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year2}"></td>
                                    <td width="7%">前期<input type="hidden" name="termName" value="前期"></td>
                                    <td><input class="form-control" type="text" th:value="*{english}" name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{math}" name="math"></td>
                                    <td><input class="form-control" type="text" th:value="*{japanese}" name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{science}" name="science">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="*{music}" name="music"></td>
                                    <td><input class="form-control" type="text" th:value="*{art}" name="art"></td>
                                    <td><input class="form-control" type="text" th:value="*{pe}" name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="*{techHome}" name="techHome">
                                    </td>
                                </tr>
                                <tr th:object="${schoolRecord3}">
                                    <input type="hidden" name="grade" value="中２">
                                    <input type="hidden" name="recordYear" th:value="${year2}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year2}"></td>
                                    <td width="7%">後期<input type="hidden" name="termName" value="後期"></td>
                                    <td><input class="form-control" type="text" th:value="*{english}" name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{math}" name="math"></td>
                                    <td><input class="form-control" type="text" th:value="*{japanese}" name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{science}" name="science">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="*{music}" name="music"></td>
                                    <td><input class="form-control" type="text" th:value="*{art}" name="art"></td>
                                    <td><input class="form-control" type="text" th:value="*{pe}" name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="*{techHome}" name="techHome">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div th:if="${studentGrade == '中３'}">
                            <p style="font-size: small">＜中学３年＞</p>
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <tr>
                                    <th class="info">年度</th>
                                    <th class="info">学期</th>
                                    <th class="info">英語</th>
                                    <th class="info">数学</th>
                                    <th class="info">国語</th>
                                    <th class="info">理科</th>
                                    <th class="info">社会</th>
                                    <th class="info">音楽</th>
                                    <th class="info">美術</th>
                                    <th class="info">保体</th>
                                    <th class="info">技家</th>
                                </tr>
                                <tr th:object="${schoolRecord4}">
                                    <input type="hidden" name="grade" value="中３">
                                    <input type="hidden" name="recordYear" th:value="${year3}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year3}"></td>
                                    <td width="7%">前期<input type="hidden" name="termName" value="前期"></td>
                                    <td><input class="form-control" type="text" th:value="*{english}" name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{math}" name="math"></td>
                                    <td><input class="form-control" type="text" th:value="*{japanese}" name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{science}" name="science">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="*{music}" name="music"></td>
                                    <td><input class="form-control" type="text" th:value="*{art}" name="art"></td>
                                    <td><input class="form-control" type="text" th:value="*{pe}" name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="*{techHome}" name="techHome">
                                    </td>
                                </tr>
                                <tr th:object="${schoolRecord5}">
                                    <input type="hidden" name="grade" value="中３">
                                    <input type="hidden" name="recordYear" th:value="${year3}">
                                    <input type="hidden" name="studentId" th:value="${studentId}">
                                    <input type="hidden" name="studentName" th:value="${studentName}">
                                    <td width="7%" th:text="${year3}"></td>
                                    <td width="7%">後期<input type="hidden" name="termName" value="後期"></td>
                                    <td><input class="form-control" type="text" th:value="*{english}" name="english"/>
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{math}" name="math"></td>
                                    <td><input class="form-control" type="text" th:value="*{japanese}" name="japanese">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{science}" name="science">
                                    </td>
                                    <td><input class="form-control" type="text" th:value="*{socialStudies}"
                                               name="socialStudies"></td>
                                    <td><input class="form-control" type="text" th:value="*{music}" name="music"></td>
                                    <td><input class="form-control" type="text" th:value="*{art}" name="art"></td>
                                    <td><input class="form-control" type="text" th:value="*{pe}" name="pe"></td>
                                    <td><input class="form-control" type="text" th:value="*{techHome}" name="techHome">
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <button class="btn btn-primary btn-lg" type="submit">登録</button>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${regularExam}" class="col-sm-12">
                <div class="row col-sm-10" style="margin-top: 20px">
                    <p style="font-size: medium">＜定期試験結果登録＞</p>
                </div>
            </div>
            <div th:if="${practiceExam}" class="col-sm-12">
                <div class="row col-sm-12" style="margin-top: 20px">
                    <p style="font-size: medium">＜模擬試験結果登録＞</p>
                    <div class="col-sm-12">
                        <p style="font-size: small">＜登録されている結果＞</p>
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <tr>
                                <th class="info">学年</th>
                                <th class="info col-sm-1">実施月</th>
                                <th class="info col">英語</th>
                                <th class="info col">数学</th>
                                <th class="info col">国語</th>
                                <th class="info col">理科</th>
                                <th class="info col">社会</th>
                                <th class="info col">３科</th>
                                <th class="info col">５科</th>
                                <th class="info col">３科<br/>偏差</th>
                                <th class="info col">５科<br/>偏差</th>
                                <th class="info col">英語<br/>偏差</th>
                                <th class="info col">数学<br/>偏差</th>
                                <th class="info col">国語<br/>偏差</th>
                                <th class="info col">理科<br/>偏差</th>
                                <th class="info col">社会<br/>偏差</th>
                            </tr>
                            <tr th:each="practice : ${practiceExam}">
                                <td th:text="${practice.grade}"></td>
                                <td th:text="${practice.monthName}"></td>
                                <td th:text="${practice.englishScore}"></td>
                                <td th:text="${practice.mathScore}"></td>
                                <td th:text="${practice.japaneseScore}"></td>
                                <td th:text="${practice.scienceScore}"></td>
                                <td th:text="${practice.socialScore}"></td>
                                <td th:text="${practice.sumThree}"></td>
                                <td th:text="${practice.sumAll}"></td>
                                <td th:text="${practice.devThree}"></td>
                                <td th:text="${practice.devFive}"></td>
                                <td th:text="${practice.englishDeviation}"></td>
                                <td th:text="${practice.mathDeviation}"></td>
                                <td th:text="${practice.japaneseDeviation}"></td>
                                <td th:text="${practice.scienceDeviation}"></td>
                                <td th:text="${practice.socialDeviation}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <p style="font-size: small">＜登録する結果＞</p>
                        <form method="post" th:action="@{/practiceExam/ByOneStudent}">
                            <table class="table table-bordered table-condensed table-hover table-striped" id="tblForm1">
                                <thead>
                                <tr>
                                    <th class="info">学年</th>
                                    <th class="info" width="8%">実施年</th>
                                    <th class="info col-sm-1">実施月</th>
                                    <th class="info col">英語</th>
                                    <th class="info col">数学</th>
                                    <th class="info col">国語</th>
                                    <th class="info col">理科</th>
                                    <th class="info col">社会</th>
                                    <th class="info col">３科<br/>偏差</th>
                                    <th class="info col">５科<br/>偏差</th>
                                    <th class="info col">英語<br/>偏差</th>
                                    <th class="info col">数学<br/>偏差</th>
                                    <th class="info col">国語<br/>偏差</th>
                                    <th class="info col">理科<br/>偏差</th>
                                    <th class="info col">社会<br/>偏差</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input class="form-control" type="text" name="grade"></td>
                                    <td><input class="form-control" type="text" name="examYear"></td>
                                    <td>
                                        <select class="form-control" name="monthName">
                                            <option value="">選択</option>
                                            <option value="1">７月</option>
                                            <option value="2">８月</option>
                                            <option value="3">10月</option>
                                            <option value="4">12月</option>
                                            <option value="5">１月</option>
                                            <option value="6">３月</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="englishScore"></td>
                                    <td><input class="form-control" type="text" name="mathScore"></td>
                                    <td><input class="form-control" type="text" name="japaneseScore"></td>
                                    <td><input class="form-control" type="text" name="scienceScore"></td>
                                    <td><input class="form-control" type="text" name="socialScore"></td>
                                    <td><input class="form-control" type="text" name="devThree"></td>
                                    <td><input class="form-control" type="text" name="devFive"></td>
                                    <td><input class="form-control" type="text" name="englishDeviation"></td>
                                    <td><input class="form-control" type="text" name="mathDeviation"></td>
                                    <td><input class="form-control" type="text" name="japaneseDeviation"></td>
                                    <td><input class="form-control" type="text" name="scienceDeviation"></td>
                                    <td><input class="form-control" type="text" name="socialDeviation"></td>
                                </tr>
                                </tbody>
                            </table>
                            <input id="btnAdd1" type="button" value="行追加" style="margin-bottom: 20px" />
                            <br/>
                            <button class="btn btn-primary btn-lg" type="submit">登録</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>