<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Bootstrapに必要なCSSとJavaScriptを読み込み-->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.slim.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
</head>
<body>
<!-- コンテンツ部分 -->
<div th:fragment="registrySchoolRecord_contents">
    <div class="page-header" style="margin-bottom: 15px">
        <h1>各種登録</h1>
        <p style="margin-left: 3px">このページで成績、試験結果などを登録できます</p>
    </div>
    <div class="row col-sm-10">
        <div class="btn-group btn-group-justified" role="group">
            <a type="button" class="btn btn-primary" th:href="@{'/registry/schoolRecord'}"
               style="border-color: white">成績
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/regularExam'}"
               style="border-color: white">定期試験
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/practiceExam'}"
               style="border-color: white">模擬試験
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/byOneStudent'}"
               style="border-color: white">個人登録
            </a>
        </div>
        <!-- 結果表示用 -->
        <span class="text-info" th:if="${result}" th:text="${result}"
              style="margin: 10px 0 0 15px; font-weight: bold"></span><br/>
    </div>
    <div class="row col-sm-10" style="margin-top: 5px">
        <div>【登録方法の選択】 どちらの方法で登録しますか？</div>
        <form method="post" th:action="@{/registry/schoolRecord/way}" style="margin-top: 5px">
            <label class="radio-inline radio_text" style="margin-left: 7px">
                <input type="radio" name="radioName" value="ByGrade" th:checked="${ByGrade}"
                       onchange="this.form.submit()"> 学年別登録
            </label>
            <label class="radio-inline radio_text" style="margin-left: 5px">
                <input type="radio" name="radioName" value="AllatOnece" th:checked="${AllatOnece}"
                       onchange="this.form.submit()"> 一括登録（スプレッドシート、エクセルによる登録）
            </label>
        </form>
    </div>
    <div th:if="${ByGrade}" class="panel panel-container col-sm-12" style="margin-top: 15px">
        <form method="post" th:action="@{/registry/schoolRecord/way/ByGrade}">
            <div style="margin-bottom: 17px">成績を登録する校舎・学年・学期を選択してください</div>
            <div class="form-group">
                <label for="school" class="control-label col-xs-1"
                       style="text-align: right; margin-top: 7px">校舎：</label>
                <div class="col-sm-2 col-xs-4">
                    <select class="form-control" id="school" name="school">
                        <option value="">校舎</option>
                        <option value="橋戸校" th:selected="${school} == '橋戸校'">橋戸校</option>
                        <option value="瀬谷校" th:selected="${school} == '瀬谷校'">瀬谷校</option>
                        <option value="大和校" th:selected="${school} == '大和校'">大和校</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="grade" class="control-label col-xs-1"
                       style="text-align: right; margin: 7px 0 0 20px">学年：</label>
                <div class="col-sm-2 col-xs-4">
                    <select class="form-control" id="grade" name="grade">
                        <option value="">学年</option>
                        <option value="中３" th:selected="${grade} == '中３'">中３</option>
                        <option value="中２" th:selected="${grade} == '中２'">中２</option>
                        <option value="中１" th:selected="${grade} == '中１'">中１</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="termName" class="control-label col-xs-1"
                       style="text-align: right; margin: 7px 0 0 20px">学期：</label>
                <div class="col-sm-2 col-xs-4">
                    <select class="form-control" id="termName" name="termName">
                        <option value="">学期</option>
                        <option value="１学期・前期" th:selected="${termName} == '１学期・前期'">１学期・前期</option>
                        <option value="２学期" th:selected="${termName} == '２学期'">２学期</option>
                        <option value="３学期・後期" th:selected="${termName} == '３学期・後期'">３学期・後期</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" style="margin-left: 60px">表示</button>
        </form>
        <form method="post" th:action="@{/schoolRecordRegistry}" th:if="${recordList}"
              th:object="${SchoolRecordWithName}">
            <table class="table table-bordered table-hover" style="margin-top: 30px; margin-bottom: 20px">
                <tr>
                    <th class="info" style="font-size: small">生徒名</th>
                    <th class="info" style="font-size: small">学年</th>
                    <th class="info" style="font-size: small">年度<p style="font-size: x-small">※ 半角数字4ケタ</p></th>
                    <th class="info" style="font-size: small">学期</th>
                    <th class="info" style="font-size: small">英語<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">数学<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">国語<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">理科<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">社会<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">音楽<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">美術<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">保体<p style="font-size: x-small">※ 半角数字</p></th>
                    <th class="info" style="font-size: small">技家<p style="font-size: x-small">※ 半角数字</p></th>
                </tr>
                <tr th:each="record : ${recordList}">
                    <input type="hidden" name="studentId" th:value="${record.studentId}">
                    <input type="hidden" name="studentName" th:value="${record.studentName}">
                    <input type="hidden" name="grade" th:value="${record.grade}">
                    <td th:text="${record.studentName}"></td>
                    <td th:text="${record.grade}"></td>
                    <td style="width: 10%">
                        <input type="text" class="form-control" name="recordYear" th:value="${record.recordYear}"></td>
                    <td>
                        <div class="form-group">
                            <select name="termName" class="form-control">
                                <option value="">学期</option>
                                <option value="１学期" th:selected="${record.termName} == '１学期'">１学期</option>
                                <option value="前期" th:selected="${record.termName} == '前期'">前期</option>
                                <option value="２学期" th:selected="${record.termName} == '２学期'">２学期</option>
                                <option value="後期" th:selected="${record.termName} == '後期'">後期</option>
                                <option value="３学期" th:selected="${record.termName} == '３学期'">３学期</option>
                            </select>
                        </div>
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="english" th:value="${record.english}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="math" th:value="${record.math}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="japanese" th:value="${record.japanese}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="science" th:value="${record.science}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="socialStudies" th:value="${record.socialStudies}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="music" th:value="${record.music}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="art" th:value="${record.art}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="pe" th:value="${record.pe}">
                    </td>
                    <td style="width: 7%">
                        <input type="text" class="form-control" name="techHome" th:value="${record.techHome}">
                    </td>
                    <input type="hidden" name="sumFive" value="">
                    <input type="hidden" name="sumAll" value="">
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
    <div th:if="${AllatOnece}" class="panel panel-container col-sm-12"
         style="margin-top: 15px; padding-top: 7px; padding-left: 5px">
        <div class="col-sm-10">
            <ol class="defaultlist list10">
                <li class="list10-count">Googleスプレッドシートでの登録
                    <p style="color: #444444; margin: 10px 0 10px 0px">
                        下記のリンクからシートにアクセスして必要事項を入力後、下の「登録」ボタンを押してください。</p>
                    <a href="https://docs.google.com/spreadsheets/d/1mo_zeobRayVBhKC9MZbozQa5OPs6C9npsIyn0jQqkiA/edit?usp=sharing"
                       class="btn-link" target="_blank" style="margin-left: 2px">成績登録シート</a>
                </li>
                <li class="list10-count">エクセルでの登録
                    <p style="color: #444444; margin: 10px 0 10px 0px">
                        <strong>１</strong>．登録用のエクセルシートを下記のリンクからダウンロードして必要事項を記入してください。</p>
                    <a class="btn-link" th:href="@{'/excelSheetDownload'}" style="padding-left: 30px">エクセルシートのダウンロード</a>
                    <p style="color: #444444; margin: 10px 0 10px 0px">
                        <strong>２</strong>．作成したファイルを下のボックスにアップロードしてください。</p>
                    <p style="color: #444444; margin: 10px 0 30px 0px">
                        <strong>３</strong>．登録ボタンを押してください。
                    </p>
                    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
                        <div class="input-group col-sm-5">
                            <input id="upload" type="file" name="file" style="display:none">
                            <input type="text" id="upload_file" name="upload_file" class="form-control"
                                   placeholder="select file..." readonly>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" id="button"
                                    style="height: 34px; border-color: #9d9d9d">ファイル選択</button>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 40px 0 0 0px">登録
                        </button>
                    </form>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>