<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Bootstrapに必要なCSSとJavaScriptを読み込み-->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.slim.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
</head>
<body>
<!-- コンテンツ部分 -->
<div th:fragment="registryPracticeExam_contents">
    <div class="page-header" style="margin-bottom: 15px">
        <h1>各種登録</h1>
        <p style="margin-left: 3px">このページで成績、試験結果などを登録できます</p>
    </div>
    <div class="row col-sm-10">
        <div class="btn-group btn-group-justified" role="group">
            <a type="button" class="btn btn-primary" th:href="@{'/registry/schoolRecord'}"
               style="border-color: white">成績
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/regularExam'}"
               style="border-color: white">定期試験
            </a>
            <a type="button" class="btn btn-primary" th:href="@{'/registry/practiceExam'}"
               style="border-color: white">模擬試験
            </a>
        </div>
        <!-- 結果表示用 -->
        <span class="text-info" th:if="${result}" th:text="${result}"
              style="margin: 10px 0 0 15px; font-weight: bold"></span><br/>
    </div>
    <div class="panel panel-container col-sm-12" style="margin-top: 15px; padding-top: 7px; padding-left: 5px">
        <div class="col-sm-10">
            <ol class="defaultlist list10">
                <li class="list10-count">Googleスプレッドシートでの登録
                    <p style="color: #444444; margin: 10px 0 10px 0px">
                        下記のリンクからシートにアクセスして必要事項を入力後、下の「登録」ボタンを押してください。</p>
                    <a href="https://docs.google.com/spreadsheets/d/1mo_zeobRayVBhKC9MZbozQa5OPs6C9npsIyn0jQqkiA/edit?usp=sharing"
                       class="btn-link" target="_blank" style="margin-left: 2px">模試結果登録シート</a>
                </li>
                <li class="list10-count">CSVファイルでの登録
                    <p style="color: #444444; margin: 10px 0 10px 0px">
                        <strong>１</strong>．作成したファイルを下のボックスにアップロードしてください。</p>
                    <p style="color: #444444; margin: 10px 0 30px 0px">
                        <strong>２</strong>．登録ボタンを押してください。
                    </p>
                    <form method="post" enctype="multipart/form-data" th:action="@{/practiceCsvUpload}">
                        <div class="input-group col-sm-5">
                            <input id="upload" type="file" name="file" style="display:none">
                            <input type="text" id="upload_file" name="upload_file" class="form-control"
                                   placeholder="select file..." readonly>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" id="button"
                                    style="height: 34px; border-color: #9d9d9d">ファイル選択</button>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 40px 0 0 0px">登録
                        </button>
                    </form>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>