<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.slim.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
    <title>生徒新規登録</title>
</head>
<body>
<div th:fragment="studentRegister_contents">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>生徒新規登録</h1>
            </div>
            <div class="container-fluid panel panel-container box">
                <form method="post" th:action="@{/signupConfirm}" th:object="${signupForm}">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th class="info active col-sm-2">生徒ID<span class="label label-danger must-label">必須</span>
                            </th>
                            <th class="info active col-sm-4">名前<span class="label label-danger must-label">必須</span>
                            </th>
                            <th class="info active col-sm-4">フリガナ<span class="label label-danger must-label">必須</span>
                                <span style="font-size: x-small; font-weight: normal; margin-left: 5px">※ 全角カタカナで入力</span>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('studentId')}?'has-error'">
                                    <input type="text" class="form-control" th:field="*{studentId}"/>
                                    <span class="text-danger" th:if="${#fields.hasErrors('studentId')}"
                                          th:errors="*{studentId}">studentId error</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('lastName') || #fields.hasErrors('firstName') }?'has-error'">
                                    <label style="display: inline; font-weight: normal">姓</label>
                                    <input type="text" class="form-control"
                                           style="width: 40%; display: inline; margin-left: 5px;"
                                           th:field="*{lastName}"/>
                                    <label style="display: inline; margin-left: 15px;  font-weight: normal">名</label>
                                    <input type="text" class="form-control"
                                           style="width: 40%; display: inline; margin-left: 5px"
                                           th:field="*{firstName}"/>
                                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                                          th:errors="*{lastName}">studentName error</span>
                                    <span class="text-danger" style="margin-left: 20px"
                                          th:if="${#fields.hasErrors('firstName')}"
                                          th:errors="*{firstName}">studentName error</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('lastRuby') || #fields.hasErrors('firstRuby') }?'has-error'">
                                    <label style="display: inline; font-weight: normal">姓</label>
                                    <input type="text" class="form-control"
                                           style="width: 40%; display: inline; margin-left: 5px;"
                                           th:field="*{lastRuby}"/>
                                    <label style="display: inline; margin-left: 15px;  font-weight: normal">名</label>
                                    <input type="text" class="form-control"
                                           style="width: 40%; display: inline; margin-left: 5px"
                                           th:field="*{firstRuby}"/>
                                    <span class="text-danger" th:if="${#fields.hasErrors('lastRuby')}"
                                          th:errors="*{lastRuby}">nameRuby error</span>
                                    <span class="text-danger" th:if="${#fields.hasErrors('firstRuby')}"
                                          th:errors="*{firstRuby}">nameRuby error</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th class="info active col-sm-2">学年<span class="label label-danger must-label">必須</span>
                            </th>
                            <th class="info active col-sm-2">校舎<span class="label label-danger must-label">必須</span>
                            </th>
                            <th class="info active col-sm-2">クラス</th>
                            <th class="info active col-sm-2">学校</th>
                            <th class="info active col-sm-2">入塾時期</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('grade')}?'has-error'">
                                    <select id="grade" name="grade" class="form-control">
                                        <option value="">学年</option>
                                        <option th:each="grade : ${grades}" th:value="${grade.value}"
                                                th:text="${grade.key}"
                                                th:selected="${grade.value} == *{grade}"></option>
                                    </select>
                                    <span class="text-danger" th:if="${#fields.hasErrors('grade')}"
                                          th:errors="*{grade}">grade error</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('school')}?'has-error'">
                                    <select id="school" name="school" class="form-control">
                                        <option value="">校舎</option>
                                        <option th:each="school : ${schools}" th:value="${school.value}"
                                                th:text="${school.key}"
                                                th:selected="${school.value} == *{school}"></option>
                                    </select>
                                    <span class="text-danger" th:if="${#fields.hasErrors('school')}"
                                          th:errors="*{school}">school error</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="homeRoom" name="homeRoom" class="form-control">
                                        <option value="">クラス</option>
                                        <option th:each="homeRoom : ${homeRooms}" th:value="${homeRoom.value}"
                                                th:text="${homeRoom.key}"
                                                th:selected="${homeRoom.value} == *{homeRoom}"></option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{localSchool}"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="entryTime" name="entryTime" class="form-control">
                                        <option value="">入塾時期</option>
                                        <option th:each="entryTime : ${entryTimes}" th:value="${entryTime.value}"
                                                th:text="${entryTime.key}"
                                                th:selected="${entryTime.value} == *{entryTime}"></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th class="info active col-sm-4">誕生日</th>
                            <th class="info active col-sm-2">部活</th>
                            <th class="info active col-sm-2">両親</th>
                            <th class="info active col-sm-2">兄弟姉妹</th>
                            <th class="info active col-sm-2">住所</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-inline">
                                    <select id="birthdayYear" name="birthdayYear" class="form-control"
                                            style="width: 40%">
                                        <option value="">年</option>
                                        <option th:each="year : ${years}" th:value="${year.value}"
                                                th:text="${year.key}"
                                                th:selected="${year.value} == *{birthdayYear}"></option>
                                    </select>
                                    <select id="birthdayMonth" name="birthdayMonth" class="form-control"
                                            style="width: 28%">
                                        <option value="">月</option>
                                        <option th:each="month : ${months}" th:value="${month.value}"
                                                th:text="${month.key}"
                                                th:selected="${month.value} == *{birthdayMonth}"></option>
                                    </select>
                                    <select id="birthdayDay" name="birthdayDay" class="form-control"
                                            style="width: 28%">
                                        <option value="">日</option>
                                        <option th:each="day : ${days}" th:value="${day.value}"
                                                th:text="${day.key}"
                                                th:selected="${day.value} == *{birthdayDay}"></option>
                                    </select>
                                    <small id="BirthdayHelpBlock" class="form-text text-muted">
                                        分からない場合は「年」「月」「日」のまま登録してください
                                    </small>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{club}"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{parents}"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{siblings}"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{address}"/>
                                    <small id="AddressHelpBlock" class="form-text text-muted">
                                        市・区を入力（例：横浜市瀬谷区）
                                    </small>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <!-- 確認ボタン -->
                    <button class="btn btn-primary btn-lg" type="submit">確認</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>