<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.slim.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
</head>
<body>
<div th:fragment="signupConfirm_contents">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>確認</h1>
            </div>
            <div class="container-fluid panel panel-container box">
                <h4>以下の内容で登録しますか？</h4>
                <div class="container-fluid" th:object="${signupForm}">
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info col-sm-2">生徒ID</th>
                                <th class="info col-sm-2">名前</th>
                                <th class="info col-sm-2">フリガナ</th>
                                <th class="info col-sm-2">学年</th>
                                <th class="info col-sm-2">校舎</th>
                            </tr>
                            <tr>
                            <tr>
                                <td th:text="*{studentId}"></td>
                                <td th:text="*{studentName}"></td>
                                <td th:text="*{nameRuby}"></td>
                                <td th:text="*{grade}"></td>
                                <td th:text="*{school}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info col-sm-2">クラス</th>
                                <th class="info col-sm-2">学校</th>
                                <th class="info col-sm-2">入塾時期</th>
                                <th class="info col-sm-4">誕生日</th>
                            </tr>
                            <tr>
                            <tr>
                                <td th:text="*{homeRoom}"></td>
                                <td th:text="*{localSchool}"></td>
                                <td th:text="*{entryTime}"></td>
                                <td th:text="*{birthdayYear != null}?  |*{birthdayYear}/*{birthdayMonth}/*{birthdayDay}| : ''"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info col-sm-2">部活</th>
                                <th class="info col-sm-2">両親</th>
                                <th class="info col-sm-2">兄弟姉妹</th>
                                <th class="info col-sm-2">住所</th>
                            </tr>
                            <tr>
                            <tr>
                                <td th:text="*{club}"></td>
                                <td th:text="*{parents}"></td>
                                <td th:text="*{siblings}"></td>
                                <td th:text="*{address}"></td>
                            </tr>
                        </table>
                    </div>
                    <br/>
                    <!-- hiddenで送る -->
                    <div class="row">
                        <form method="post" th:action="@{/signupConfirm}" th:object="${signupForm}">
                            <input type="hidden" th:field="*{studentId}"/>
                            <input type="hidden" th:field="*{studentName}"/>
                            <input type="hidden" th:field="*{nameRuby}"/>
                            <input type="hidden" th:field="*{grade}"/>
                            <input type="hidden" th:field="*{school}"/>
                            <input type="hidden" th:field="*{homeRoom}"/>
                            <input type="hidden" th:field="*{localSchool}"/>
                            <input type="hidden" th:field="*{entryTime}"/>
                            <input type="hidden" th:field="*{birthdayYear}"/>
                            <input type="hidden" th:field="*{birthdayMonth}"/>
                            <input type="hidden" th:field="*{birthdayDay}"/>
                            <input type="hidden" th:field="*{club}"/>
                            <input type="hidden" th:field="*{parents}"/>
                            <input type="hidden" th:field="*{siblings}"/>
                            <input type="hidden" th:field="*{address}"/>
                            <!-- 登録ボタン -->
                            <button class="btn btn-primary btn-lg" type="submit" name="register">登録</button>
                            <!-- 戻るボタン -->
                            <button class="btn btn-default btn-lg btn-margin" type="submit" name="back">戻る</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>