<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.slim.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
</head>
<body>
<div th:fragment="studentEdit_contents">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>生徒情報編集</h1>
            </div>
            <div class="container-fluid panel panel-container">
                <form method="post" th:action="@{/studentEdit}" th:object="${signupForm}">
                    <div class="row col-sm-12">
                        <ul class="cp_list">
                            <li>基本情報</li>
                        </ul>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info col-sm-2">生徒ID</th>
                                <th class="info col-sm-2">名前</th>
                                <th class="info col-sm-2">フリガナ</th>
                                <th class="info col-sm-2">学年</th>
                                <th class="info col-sm-2">校舎</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{studentId}"
                                               readonly="readonly"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('studentName')}?'has-error'">
                                        <input type="text" class="form-control" th:field="*{studentName}"/>
                                        <small id="NameHelpBlock" class="form-text text-muted">姓と名の間は１つの半角スペース
                                        </small>
                                        </br>
                                        <span class="text-danger" th:if="${#fields.hasErrors('studentName')}"
                                              th:errors="*{studentName}">studentName error</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('nameRuby')}?'has-error'">
                                        <input type="text" class="form-control" th:field="*{nameRuby}"/>
                                        <small id="RubyHelpBlock" class="form-text text-muted">姓と名の間は１つの半角スペース
                                        </small>
                                        </br>
                                        <span class="text-danger" th:if="${#fields.hasErrors('nameRuby')}"
                                              th:errors="*{nameRuby}">nameRuby error</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select id="grade" name="grade" class="form-control">
                                            <option th:each="grade : ${grades}" th:value="${grade.value}"
                                                    th:text="${grade.key}" th:selected="${grade.value} == *{grade}">
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select id="school" name="school" class="form-control">
                                            <option th:each="school : ${schools}" th:value="${school.value}"
                                                    th:text="${school.key}" th:selected="${school.value} == *{school}">
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row col-sm-12">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info col-sm-2">クラス</th>
                                <th class="info col-sm-2">学校</th>
                                <th class="info col-sm-2">入塾時期</th>
                                <th class="info col-sm-4">誕生日</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <select id="homeRoom" name="homeRoom" class="form-control">
                                            <option value="">クラス</option>
                                            <option th:each="homeRoom : ${homeRooms}" th:value="${homeRoom.value}"
                                                    th:text="${homeRoom.key}"
                                                    th:selected="${homeRoom.value} == *{homeRoom}"></option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{localSchool}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select id="entryTime" name="entryTime" class="form-control">
                                            <option value="">入塾時期</option>
                                            <option th:each="entryTime : ${entryTimes}" th:value="${entryTime.value}"
                                                    th:text="${entryTime.key}"
                                                    th:selected="${entryTime.value} == *{entryTime}"></option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-inline">
                                        <select id="birthdayYear" name="birthdayYear" class="form-control"
                                                style="width: 40%">
                                            <option value="">年</option>
                                            <option th:each="year : ${years}" th:value="${year.value}"
                                                    th:text="${year.key}"
                                                    th:selected="${year.value} == *{birthdayYear}"></option>
                                        </select>
                                        <select id="birthdayMonth" name="birthdayMonth" class="form-control"
                                                style="width: 28%">
                                            <option value="">月</option>
                                            <option th:each="month : ${months}" th:value="${month.value}"
                                                    th:text="${month.key}"
                                                    th:selected="${month.value} == *{birthdayMonth}"></option>
                                        </select>
                                        <select id="birthdayDay" name="birthdayDay" class="form-control"
                                                style="width: 28%">
                                            <option value="">日</option>
                                            <option th:each="day : ${days}" th:value="${day.value}"
                                                    th:text="${day.key}"
                                                    th:selected="${day.value} == *{birthdayDay}"></option>
                                        </select>
                                        <small id="BirthdayHelpBlock" class="form-text text-muted">
                                            分からない場合は「年」「月」「日」のまま登録してください
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row col-sm-12">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info col-sm-2">部活</th>
                                <th class="info col-sm-2">両親</th>
                                <th class="info col-sm-2">兄弟姉妹</th>
                                <th class="info col-sm-2">住所</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{club}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{parents}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{siblings}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{address}"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br/>
                    <div class="row col-sm-8">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="info">生徒情報</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" th:field="*{info}"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- 更新ボタン -->
                    <div class="row col-sm-12">
                        <button class="btn btn-primary btn-lg" type="submit" name="update">更新</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>