<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>ユーザー管理</title>
</head>
<body>
<div th:fragment="userSignup_contents">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>ユーザー新規登録</h1>
            </div>
            <div class="container-fluid panel panel-container box">
                <form method="post" th:action="@{/userSignup}" th:object="${userForm}">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th class="info col-sm-2">アカウント</th>
                            <th class="info col-sm-2">ユーザー名</th>
                            <th class="info col-sm-2">パスワード</th>
                            <th class="info col-sm-2">権限</th>
                            <th class="info col-sm-2">表示用パス</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{userId}"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{userName}"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{password}"/>
                                </div>
                            </td>
                            <td>
                                <select id="role" name="role" class="form-control">
                                    <option th:each="role : ${roles}" th:value="${role.value}"
                                            th:text="${role.key}"
                                            th:selected="${role.value} == *{role}"></option>
                                </select>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{reallyPass}"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <p>※ 「表示用パス」には「パスワード」と同じものを入力してください。</p>
                    </div>
                    <div class="row col-sm-12" style="margin-top: 20px">
                        <button class="btn btn-primary btn-lg" type="submit">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>